.trynew{
    display: flex;


}

.trynew .carousel-control-prev {
    display: none;
}

.trynew .carousel-control-next{
    background-color: black;
    max-width: 3vw;
    max-height: fit-content;
}

.trynew .cardbody{

    display: flex;
    justify-content: center;
    align-items: center;

}


.horizontal-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.horizontal-list li {
    margin-right: 10px;
}





